* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark-color: #5c5678;
  --light-color: #f2f2f2;
  --lighter-color: #fefefd;
  --accent-color: #f2b48f;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}


/* HEADER */
.header {
  background-color: var(--lighter-color);
  grid-column: 2 / 3;

  box-shadow: 0 2px 4px 0 rgba(15, 15, 15, 0.2);
  z-index: 100;


  display: grid;
  padding: 20px 50px;
  gap: 2em;
}

.top, .bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-left {
  display: flex;
  align-items: center;
  width: 100%;
}

#search {
  margin-left: 15px;
  margin-right: auto;
  border: none;
  border-radius: 15px;
  background-color: var(--light-color);
  padding: 8px 18px;
  width: 80%;
}

.search-icon {
  font-size: 1.5rem;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5em;
  width: 100%;
}

.avatar {
  background-color: var(--accent-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.greet {
  font-weight: 700;
}

.name {
  font-weight: bold;
  font-size: 1.5em;
}

.bottom-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.bottom-left .avatar {
  height: 70px;
  width: 70px;
}

.profile-greeting {
  margin-left: 15px;
}

.bottom-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.bottom-right .button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--dark-color);
  color: var(--lighter-color);
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--dark-color);
  color: var(--lighter-color);
  grid-row: 1 / 3;

  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(15, 15, 15, 0.2);
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-title {
  font-size: 1.75em;
}

.dashboard-icon {
  font-size: 3em;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.menu {
  margin-top: 50px;
  list-style-type: none;
  display: grid;
  gap: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2em;
  font-weight: 700;
}

.home-icon {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* MAIN CONTENT */
.content {
  background-color: var(--light-color);

  padding: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.title {
  margin-bottom: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card{
  background-color: var(--lighter-color);
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  border-left: 10px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 2px 4px 0 rgba(15, 15, 15, 0.2);
  z-index: 100;
}

.card p {
  font-size: 0.9rem;
  font-weight: 100;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: auto;
  gap: 20px;
}

.actions span {
  font-size: 1.8em;
}

.right-content {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.announcements .card, .trending .card {
  border: none;
}

.announcement p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  width: 200px;
  font-size: 0.8em;
}

.announcement {
  padding: 10px;
}
.announcement + .announcement {
  border-top: 1px solid rgb(172, 168, 168);
}


.account {
  display: flex;
  gap: 20px;
}

.fullname {
  color: rgb(172, 168, 168);
}